<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
        <input type="text" placeholder="Ask a question" id="question">
        <button type="submit" onClick= fetchRes(this)>Enter</button>
        <ul id="container">
            <li id="userques"></li>
            <li id="answer"></li>
        </ul>
      
        <script src="bundle.js"></script> <!-- Use the bundled script -->

</body>
</html>


